*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body,
html {
    height: 100%;
    background-color: rgb(144, 180, 212);
    font-size: 2rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    color: rgb(183, 183, 183);
    background-color: rgb(53, 97, 168);
    box-shadow: 0 3px rgba(3, 3, 3, 0.2);
    border: 2px;
    margin: 0.1rem;
    outline: 0;
    font-size: 1.5rem;
    transition: transform .1s ease, -webkit-transform .1s ease;
    display: flex;
    flex: 1 1 20%;
    justify-content: center;
    align-items: center;
}

button:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    box-shadow: none;
}

.calc {
    background-color: rgb(99, 59, 109);
    border-radius: 6px;
    box-shadow: 0 3px rgb(78, 46, 86);
    min-height: 350px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 60%;
    min-width: 400px;
    padding: 3px;
    /* overflow: auto; - no longer needed*/
}

.operator {
    background-color: rgb(53, 64, 168);
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 60%;
    min-width: 400px;
}

.keypad,
.display {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
}

.display {
    height: 2.6rem;
    border: 1px solid black;
    border-radius: 3px;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5em;
    background: #000;
    color: #fff;
    padding: 0 10px;
}

.filler {
    visibility: hidden;
}